.lng-list
  ol
    line-height 1.43
    font-size 32px

.result-scrn
  background-color #000
  &:after
    content ""
    display block
    position absolute
    width auto
    height auto
    border-radius 0
    top 0
    bottom 0
    left 0
    right 0
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
    background-size 100% 2px
  .wrapper
    font-size 56px
    color #08b200 
    &:before
      content "> "
    &:after
      content " _"
      
.l20n-title~.part-scrn
  background-color: darken(#ff00a8,40%);

.part-scrn
  background-color: darken(#9a00cd,40%);
  .wrapper
    font-size 64px
    color #FFF 
    text-align left

.scrn
  .wrapper
    width 100%
    height 90%
    font-size 42px
    img
      height 75%

.quote
  .wrapper
    padding 40px 
    text-align left
    font-size 42px 
    time
      font-size 36px
      color #999 
    cite
      line-height 1.43
      font-size 50px 
      color #999 

.template-hilight:before
  content:".";
  display block
  position absolute
  z-index 1 
  left 0
  right 0
  height 36px
  top 78px
  box-shadow 0 0 0 1000px rgba(0,0,0, .25)

.jq-needed,
.mozilla-supported
  .wrapper
    width 100%
    img
      width 75%

.template-profit ol
  font-size 36px
  line-height 1.43

.template-list ul
  font-size 64px
  
.uno
  .wrapper
    width 100%
    img
      width 50%

.handmade
  font-size 48px
  white-space nowrap
  .wrapper
    text-indent 30px
    width 100%
  img
    width 25%
    vertical-align middle


.obsolete:before
  width 300px
  height 300px
  line-height 300px
  text-align center
  vertical-align middle
  border-radius 100%
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  background-color #d00
  color #FFF
  display block 
  border 20px solid #fff
  font-family "PT Sans Bold" 
  content "нет!"
  white-space nowrap
  text-transform uppercase
  z-index 10
  font-size 100px 
  
.wtf:before
  width 300px
  height 300px
  line-height 300px
  text-align center
  vertical-align middle
  border-radius 100%
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  background-color #d00
  color #FFF
  display block 
  border 20px solid #fff
  font-family "PT Sans Bold" 
  content "?"
  white-space nowrap
  text-transform uppercase
  z-index 10
  font-size 200px 
  
.definition
  .wrapper
    line-height 1.68
    ol
      li
        font-size 32px
      b
        color #999
        font-weight normal
        font-family "PT Sans Italic" 
        font-size 24px
  
.rtl-demo
  .wrapper
    line-height 1.68
    white-space nowrap
    font-size 96px
    
.rtl-demo-2
  .wrapper
    white-space nowrap
    line-height 1.68
    font-size 72px
    
.rtl-demo-3
  .wrapper
    white-space nowrap
    line-height 1.68
    font-size 56px
    
.memonic
  h1 
    font-size 96px
    text-transform none
    
.bdo-example
  font-size 56px
    
.rtl-demo,
.rtl-demo-2,
.rtl-demo-3
  span
    background-color rgba(255, 0, 0, .25)
  span.rtl 
    background-color rgba(0, 255, 0, .25)
  span.wb
    background-color rgba(0, 0, 255, .25)
  span.wn
    background-color rgba(255, 110, 0, .6)
    line-height 0.9
    display inline-block
  span.ib
    background-color rgba(256, 100, 0, 1)

body article.links
  background-color #080 
  color #FFF 
  h1
    background none
    font-size 90px 
    text-shadow 0 0 10px darken(#080, 20%)
    
.flags
  background-image url('../img/flags.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat

article.mustache.cloud
  background-image url('../img/mustache.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 40px
    bottom 120px
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 32px
    &:after
      transform-origin 10px -120px
      transform rotate(55deg)
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px

article.cern
  background-image url('../img/cern.png') 
  background-position 50% 50%
  background-size 90% auto
  background-repeat no-repeat

article.better-2.cloud
  background-image url('../img/red-2.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    left 80px
    bottom 0px
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 24px
    &:after
      transform-origin 10px -120px
      transform rotate(-65deg)
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px

article.better-1.cloud
  background-image url('../img/red-1.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 60px
    bottom 0px
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 24px
    &:after
      transform-origin 10px -120px
      transform rotate(65deg)
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px
        
article.pile.cloud
  background-image url('../img/pile.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 80px
    bottom 120px
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 24px
    &:after
      transform-origin 10px -120px
      transform rotate(55deg)
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px

article.engine.cloud
  background-image url('../img/engine.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 21px
    &:after
      display none
      transform-origin 10px -1
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px
        
article.cloud.template
  background-image url('../img/template.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 21px
    &:after
      display none
      transform-origin 10px -1
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px
  
article.chinese.cloud
  background-image url('../img/chinese.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    
    width 250px
    height 250px
    line-height 250px
    font-size 21px
    &:after
      display none
      transform-origin 10px -1
    &>.wrapper
      line-height 1.43
      display inline-block
      vertical-align middle
      span
        line-height 1.2
        font-size 40px

.vertical-demo-ru-2,
.vertical-demo-ru,        
.vertical-demo
  .half
    background-color #08e
    color #FFF
    
    text-shadow 0 0 8px darken(#08e, 20%)

    font-size 30px
    width 50%
    height 100%
    padding 5% 5% 5% 0
    float left
    box-sizing border-box
    
    -ms-writing-mode rl-tb
    -webkit-writing-mode vertical-rl
    -moz-writing-mode vertical-rl
    -ms-writing-mode vertical-rl
    writing-mode vertical-rl
    
    &:first-child
      -webkit-writing-mode horizontal-tb
      -moz-writing-mode horizontal-tb
      -ms-writing-mode horizontal-tb
      writing-mode horizontal-tb
      padding 5% 0 5% 5%
      h1
        margin .89em 0

  p,h1
    text-align left
    white-space normal
    box-sizing border-box 
    line-height 1.43em
  
  h1
    margin 0 .715em 

.vertical-demo-ru-2
  .half
    -webkit-writing-mode vertical-lr
    -moz-writing-mode vertical-lr
    -ms-writing-mode vertical-lr
    writing-mode vertical-lr
    padding 5% 0 5% 5% 
  p,h1
    font-size 21px
    line-height 1.43
    text-decoration none
  
.vertical-demo-ru
  p,h1
    font-size 21px
    line-height 1.43
    
.orientation-demo
  .half
    background-color #08e
    color #FFF
    
    text-shadow 0 0 8px darken(#08e, 20%)

    font-size 24px
    line-height 1.43
    text-align left
    width 50%
    height 100%
    padding 5% 5% 5% 0
    float left
    box-sizing border-box
    
    -ms-writing-mode rl-tb
    -webkit-writing-mode vertical-rl
    -moz-writing-mode vertical-rl
    -ms-writing-mode vertical-rl        
    writing-mode vertical-rl
    
    span
      background-color darken(#08e, 20%)
      
  .half:last-child 
    -webkit-text-orientation upright
    -moz-text-orientation upright
    -ms-text-orientation upright
    text-orientation upright
  
.orientation-demo-2
  .half
    background-color #08e
    color #FFF
    
    text-shadow 0 0 8px darken(#08e, 20%)

    font-size 24px
    line-height 1.43
    text-align left
    width 50%
    height 100%
    padding 5% 5% 5% 0
    float left
    box-sizing border-box
    
    -ms-writing-mode rl-tb
    -webkit-writing-mode vertical-rl
    -moz-writing-mode vertical-rl
    -ms-writing-mode vertical-rl        
    writing-mode vertical-rl
    
    span
      background-color darken(#08e, 20%)
  .half:last-child 
    -webkit-text-orientation sideways
    -moz-text-orientation sideways
    -ms-text-orientation sideways
    text-orientation sideways
    


.tongue.cloud
  background-image url('../img/tongue.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    right 60px
    bottom 0
    margin auto
    width 250px
    height 250px
    line-height 250px
    font-size 20px
    &>.wrapper
      line-height 30px
      display inline-block
      vertical-align middle
    &:after
      display none
      transform-origin 10px -120px
      transform rotate(60deg)

.dir-type
  ul 
    font-size 36px
    line-height 1.43

.encoding.cloud
  background-image url('../img/enigma.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    left 60px
    bottom 0
    margin auto
    width 300px
    height 300px
    line-height 300px
    font-size 22px
    &>.wrapper
      font-size 32px
      line-height 1.683
      display inline-block
      vertical-align middle
    &:after
      display none
      transform-origin 10px -150px
      transform rotate(-45deg)

.book.cloud
  background-image url('../img/book.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    width 300px
    height 300px
    line-height 300px
    font-size 22px
    &>.wrapper
      font-size 28px
      line-height 1.683
      display inline-block
      vertical-align middle
    &:after
      display none
      transform-origin 10px -150px
      transform rotate(-45deg)
    

.robot.cloud
  background-image url('../img/robot.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    bottom 0
    right 60px
    margin auto
    width 250px
    height 250px
    line-height 250px
    &>.wrapper
      font-size 24px
      line-height 1.683
      display inline-block
      vertical-align middle
    &:after
      display none
      transform-origin 10px -100px
      transform rotate(-50deg)
  
article.cover
  background-image url('../img/cover-1.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  &:after
    visibility hidden
  h1
    top 50px
    left 0
    right 0
    width 200px
    height 200px
    line-height 200px
    font-size 20px
    .wrapper
      font-family "PT Mono" 
      display inline-block
      vertical-align middle
      line-height 1
      font-size 50px 
    &.alien
      background-image url('../img/cover-0.png') 
      background-position 50% 50%
      background-size 50% 50%
      background-repeat no-repeat

.ruby-demo-rp
  position relative
  background-color #08e
  color #FFF
  font-size 64px 
  .wrapper
    text-shadow 0 0 8px darken(#08e, 20%)

.ruby-demo-montage
  position relative
  background-color #08e
  color #FFF
  ruby
    display block
    width 100%
    position relative
    text-shadow 0 0 8px darken(#08e, 20%)
    line-height 48px
    font-size 36px
    rbc
      line-height 120px
      font-size 100px
      word-spacing 55px 
    rtc
      position absolute
      left 0
      right 0
      white-space nowrap
      text-align center
      top -64px
      font-size 48px
      line-height 64px
        
      &:last-child
        left -200px
        right -200px
        top 120px
        font-size 48px
        line-height 64px
    


.ruby-demo-2,
.ruby-demo
  .wrapper
    line-height 1
  ruby
    vertical-align middle
  .half
    background-color #08e
    color #FFF
    
    text-shadow 0 0 8px darken(#08e, 20%)

    font-size 64px
    width 50%
    height 100%
    padding 0
    float left
    box-sizing border-box
    
.ruby-demo-2 .half
    -ms-writing-mode rl-tb
    -webkit-writing-mode vertical-rl
    -moz-writing-mode vertical-rl
    -ms-writing-mode vertical-rl        
    writing-mode vertical-rl
    
    -webkit-text-orientation upright
    -moz-text-orientation upright
    -ms-text-orientation upright
    text-orientation upright
    
article.bored.cloud
  background-image url('../img/bored.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 0
    bottom 0
    margin auto
    left 60px
    width 340px
    height 340px
    line-height 340px
    font-size 26px
    &>.wrapper
      display inline-block
      vertical-align middle
      line-height 1.43
    &:after
      transform-origin 10px -165px
      transform rotate(-110deg)
  

article.different-1.cloud
  background-image url('../img/cover-2.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 20px
    right 80px
    width 240px
    height 240px
    line-height 240px
    font-size 22px
    &:after
      transform-origin 10px -115px
      transform rotate(160deg)
  
article.different-2.cloud
  background-image url('../img/cover-5.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top -60px
    left 280px
    width 240px
    height 240px
    line-height 240px
    font-size 22px
    &:after
      transform-origin 10px -115px
      transform rotate(-5deg)
  

article.different-3.cloud
  background-image url('../img/cover-3.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 30px
    left 200px
    width 220px
    height 220px
    line-height 220px
    font-size 22px
    &>.wrapper 
      line-height 35px
    &:after
      transform-origin 10px -105px
      transform rotate(-80deg)
  
article.different-4.cloud
  background-image url('../img/cover-4.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 20px
    right 120px
    width 220px
    height 220px
    line-height 220px
    font-size 28px
    &>.wrapper 
      line-height 40px
    &:after
      transform-origin 10px -105px
      transform rotate(130deg)

.wallet
  background-image url('../img/wallet.jpg') 
  background-position 50% 50%
  background-size 60% auto
  background-repeat no-repeat


.vs
  font-size 36px
  &.short
    font-size 120px
  .wrapper
    width 100%
    height 100%
    display block
  .half
    box-sizing border-box
    float left
    width 50%
    height 100%
    line-height 360px
    border solid #fff 
    border-width 20px 20px 80px 10px 
    text-align center
    background-color #f50 
    text-shadow 0 0 10px darken(#f50, 20%)
    color #FFF 
    position relative
    &:after
      content "."
      height 0
      width 0
      display block
      overflow hidden
      position absolute
      border-color #f50 transparent transparent
      border-style solid
      border-width 40px 0px 0 40px
      top 100%
      right 40px 
    &:first-child
      background-color #08e
      border-width 20px 10px 80px 20px 
      text-shadow 0 0 10px darken(#08e, 20%)
      &:after
        border-color #08e transparent transparent
        border-width 40px 40px 0 0px
        right auto
        left 40px 

.i18next-title
  background-color #9a00cd
  color #FFF 
  h1 
    font-size 160px
    text-transform none
    text-shadow 0 0 10px darken(#9a00cd, 20%)

.l20n-title
  background-color #ff00a8 
  color #FFF 
  h1 
    font-size 160px
    text-transform none
    text-shadow 0 0 10px darken(#ff00a8, 20%)
      
.i18n-title
  background-color #f50
  color #FFF 
  h1 
    font-size 200px
    text-transform none
    text-shadow 0 0 10px darken(#f50, 20%)
    
.i18n-abstract
  .wrapper
    text-align left
  p
    padding 40px
    font-size 38px 
    line-height 56px 
    
.i18n-links
  .wrapper
    line-height 0
    width 100%
    .logotype
      width 35%
      vertical-align middle
    .link
      width 35%
      vertical-align middle
    p
      height 120px
      line-height 120px
      font-size 36px
    
.l10n-title
  background-color #08e
  color #FFF
  h1 
    font-size 200px
    text-shadow 0 0 10px darken(#08e, 20%)
    text-transform none
    
.l10n-abstract
  .wrapper
    text-align left
  p
    padding 40px
    font-size 48px 
    line-height 64px 
    
.code-1
  code
    font-size 42px
    
.code-2
  code
    font-size 28px
    
.code-3
  code
    font-size 36px
    
.code-4
  code
    font-size 24px
    
.code-5
  code
    font-size 20px