.cover
  background-image url('../img/cover-1.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    position absolute
    top 50px
    left 0
    right 0
    
    margin auto
    
    width 210px
    height 210px
    line-height 210px
    text-align center
    display block
    
    border-radius 100% 
    
    font-size 24px 
    background-color #FFF 
    
    &.alien
      background-image url('../img/cover-0.png') 
      background-position 50% 50%
      background-size 40% 40%
      background-repeat no-repeat
      
    &:after
      content "."
      height 0
      width 0
      display block
      overflow hidden
      position absolute
      border-color #fff transparent transparent
      border-style solid
      border-width 30px 10px 0 10px
      top 100%
      left 50%
      margin -5px 0 0 -10px
      transform-origin 10px -100px
      transform rotate(-30deg)
     
    
.different-1
  background-image url('../img/cover-2.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  
.different-2
  background-image url('../img/cover-5.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat

.different-3
  background-image url('../img/cover-3.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  
.different-4
  background-image url('../img/cover-4.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat

.wallet
  background-image url('../img/wallet.jpg') 
  background-position 50% 50%
  background-size 80% auto
  background-repeat no-repeat
