doctype html
html(lang="ru")
  head
    title Фреймворки локализации
    link(href="css/styles.css", rel="stylesheet")
  body
    section#slides.dark

      article.cover.center
        h1.alien

      article.cover.center
        h1  Локализация

      article.different-1.title.center
        h1  Все мы разные!

      article.different-2.title.center
        h1  Язык и валюта

      article.different-3.title.center
        h1  Культурные особенности

      article.different-4.title.center
        h1  Символы, иконки и цвета

      article.title.center
        h1  Но есть и кое что общее

      article.wallet.title.center
        h1  Но есть и кое что общее