doctype html
html(lang="ru")
  head
    title Фреймворки локализации
    link(href="css/styles.css", rel="stylesheet")
  body
    section#slides.dark

      article.cover.center.cloud
        h1.alien

      article.cover.center.cloud
        h1  Локализация

      article.different-1.cloud.center
        h1  Все мы разные!

      article.different-2.cloud.center
        h1  Язык и валюта

      article.different-3.cloud.center
        h1  
          .wrapper Культурные особенности

      article.different-4.cloud.center
        h1  
          .wrapper
            |Символы 
            br
            |иконки
            br
            |цвета

      article.title.center
        h1  Но есть и кое что общее

      article.wallet.title.center